<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-inst..." xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web..." id="WebApp_ID" version="3.0" >

<servlet>
<servlet-name>addCustomer</servlet-name>
<servlet-class>servlet.addCustomer</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addCustomer</servlet-name>
<url-pattern> /addcus </url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>login</servlet-name>
<servlet-class>servlet.login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>login</servlet-name>customerSearch
<url-pattern> /logincus </url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateCustomer</servlet-name>
<servlet-class>servlet.UpdateCustomer</servlet-class>
</servlet>



<servlet>
<servlet-name>addProduct</servlet-name>
<servlet-class>servlet.addProduct</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addProduct</servlet-name>
<url-pattern> /addpro </url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>customerSearch</servlet-name>
<servlet-class>servlet.customerSearch</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>customerSearch</servlet-name>
<url-pattern> /cussearch </url-pattern>
</servlet-mapping>





<servlet>
<servlet-name>productsearch</servlet-name>
<servlet-class>servlet.productsearch</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>productsearch</servlet-name>
<url-pattern> /prosearch </url-pattern>
</servlet-mapping>






<servlet>
<servlet-name>CustomerAdding</servlet-name>
<servlet-class>servlet.CustomerAdding</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>CustomerAdding</servlet-name>
<url-pattern> /cusadding </url-pattern>
</servlet-mapping>





<servlet-mapping>
<servlet-name>UpdateCustomer</servlet-name>
<url-pattern> /Updatecus </url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>adminCustomer</servlet-name>
<servlet-class>servlet.adminCustomer</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>adminCustomer</servlet-name>
<url-pattern> /admincus </url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>singleDataButton</servlet-name>
<servlet-class>servlet.singleDataButton</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>singleDataButton</servlet-name>
<url-pattern> /singledatbut </url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>deleteCus</servlet-name>
<servlet-class>servlet.deleteCus</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>deleteCus</servlet-name>
<url-pattern> /deletecustomer </url-pattern>
</servlet-mapping>







</web-app>